<?xml version="1.0"?>
<config>
    <modules>
        <BS_Chart>
            <version>0.1.0</version>
        </BS_Chart>
    </modules>
    <global>
        <models>
            <bs_chart>
                <class>BS_Chart_Model</class>
                <resourceModel>bs_chart_resource</resourceModel>
            </bs_chart>
            <bs_chart_resource>
                <class>BS_Chart_Model_Resource</class>
            </bs_chart_resource>
        </models>
        <blocks>
            <bs_chart>
                <class>BS_Chart_Block</class>
            </bs_chart>
        </blocks>
        <helpers>
            <bs_chart>
                <class>BS_Chart_Helper</class>
            </bs_chart>
        </helpers>
    </global>
    <adminhtml>
        <!--<events>
            <core_block_abstract_to_html_after>
                <observers>
                    <chart_add_js>
                        <class>bs_chart/observer</class>
                        <method>addJs</method>
                    </chart_add_js>
                </observers>
            </core_block_abstract_to_html_after>
        </events>-->
        <layout>
            <updates>
                <bs_chart>
                    <file>bs_chart.xml</file>
                </bs_chart>
            </updates>
        </layout>

    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BS_Chart before="Mage_Adminhtml">BS_Chart_Adminhtml</BS_Chart>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>