<?xml version="1.0"?>
<!--
/**
 * BS_QC extension
 * 
 * @category       BS
 * @package        BS_QC
 * @copyright      Copyright (c) 2016
 */
-->
<config>
    <modules>
        <BS_Sched>
            <version>1.0.0</version>
        </BS_Sched>
    </modules>
    <global>
        <helpers>
            <bs_sched>
                <class>BS_Sched_Helper</class>
            </bs_sched>
        </helpers>

    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BS_Sched before="Mage_Adminhtml">BS_Sched_Adminhtml</BS_Sched>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
