<?xml version="1.0"?>
<config>
    <modules>
        <BS_Rewriting>
            <version>1.0.1</version>
        </BS_Rewriting>
    </modules>
    <global>
        <models>
            <bs_rewriting>
                <class>BS_Rewriting_Model</class>
                <resourceModel>bs_rewriting_resource</resourceModel>
            </bs_rewriting>
            <bs_rewriting_resource>
                <class>BS_Rewriting_Model_Resource</class>
            </bs_rewriting_resource>
            <admin>
                <rewrite>
                    <session>BS_Rewriting_Model_Admin_Session</session>
                    <user>BS_Rewriting_Model_Admin_User</user>
                </rewrite>
            </admin>
            <core>
                <rewrite>
                    <layout>BS_Rewriting_Model_Core_Layout</layout>
                </rewrite>
            </core>
            <adminhtml>
                <rewrite>
                    <observer>BS_Rewriting_Model_Adminhtml_Observer</observer>
                </rewrite>
            </adminhtml>
        </models>
        <blocks>
            <bs_rewriting>
                <class>BS_Rewriting_Block</class>
            </bs_rewriting>
            <adminhtml>
                <rewrite>
                    <dashboard>BS_Rewriting_Block_Adminhtml_Dashboard</dashboard>
                    <dashboard_grid>BS_Rewriting_Block_Adminhtml_Dashboard_Grid</dashboard_grid>
                    <permissions_grid_role>BS_Rewriting_Block_Adminhtml_Permissions_Grid_Role</permissions_grid_role>
                    <permissions_role_grid_user>BS_Rewriting_Block_Adminhtml_Permissions_Role_Grid_User</permissions_role_grid_user>
                    <permissions_tab_roleinfo>BS_Rewriting_Block_Adminhtml_Permissions_Tab_Roleinfo</permissions_tab_roleinfo>
                    <permissions_user_edit_tab_main>BS_Rewriting_Block_Adminhtml_Permissions_User_Edit_Tab_Main</permissions_user_edit_tab_main>
                    <permissions_user_edit_tab_roles>BS_Rewriting_Block_Adminhtml_Permissions_User_Edit_Tab_Roles</permissions_user_edit_tab_roles>
                    <permissions_user_grid>BS_Rewriting_Block_Adminhtml_Permissions_User_Grid</permissions_user_grid>
                    <system_account_edit_form>BS_Rewriting_Block_Adminhtml_System_Account_Edit_Form</system_account_edit_form>
                    <system_config_form_fieldset>BS_Rewriting_Block_Adminhtml_System_Config_Form_Fieldset</system_config_form_fieldset>
                    <page_menu>BS_Rewriting_Block_Adminhtml_Page_Menu</page_menu>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <bs_rewriting>
                <class>BS_Rewriting_Helper</class>
            </bs_rewriting>
            <core>
                <rewrite>
                    <data>BS_Rewriting_Helper_Core_Data</data>
                </rewrite>
            </core>
        </helpers>
        <resources>
            <bs_rewriting_setup>
                <setup>
                    <module>BS_Rewriting</module>
                </setup>
            </bs_rewriting_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BS_Rewriting before="Mage_Adminhtml">BS_Rewriting_Adminhtml</BS_Rewriting>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>