<?xml version="1.0"?>
<!--
/**
 * BS_Logger extension
 * 
 * @category       BS
 * @package        BS_Logger
 * @copyright      Copyright (c) 2017
 */
-->
<config>
    <modules>
        <BS_Logger>
            <version>1.0.0</version>
        </BS_Logger>
    </modules>
    <global>
        <resources>
            <bs_logger_setup>
                <setup>
                    <module>BS_Logger</module>
                    <class>BS_Logger_Model_Resource_Setup</class>
                </setup>
            </bs_logger_setup>
        </resources>
        <blocks>
            <bs_logger>
                <class>BS_Logger_Block</class>
            </bs_logger>
        </blocks>
        <helpers>
            <bs_logger>
                <class>BS_Logger_Helper</class>
            </bs_logger>
        </helpers>
        <models>
            <bs_logger>
                <class>BS_Logger_Model</class>
                <resourceModel>bs_logger_resource</resourceModel>
            </bs_logger>
            <bs_logger_resource>
                <class>BS_Logger_Model_Resource</class>
                <entities>
                    <logger>
                        <table>bs_logger_logger</table>
                    </logger>
                </entities>
            </bs_logger_resource>
        </models>
        <events>
            <controller_action_postdispatch_adminhtml>
                <observers>
                    <save_action_log>
                        <type>singleton</type>
                        <class>BS_Logger_Model_Observer</class>
                        <method>doLogger</method>
                    </save_action_log>
                </observers>
            </controller_action_postdispatch_adminhtml>
            <!--<catalog_product_new_action>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Product</class>
                        <method>create</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </catalog_product_new_action>-->
            <!--<catalog_product_edit_action>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Product</class>
                        <method>read</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </catalog_product_edit_action> -->
            <!--<catalog_product_prepare_save>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Product</class>
                        <method>update</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </catalog_product_prepare_save>             -->
            <!--<catalog_product_delete_before>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Product</class>
                        <method>destroy</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </catalog_product_delete_before>  -->
            <!--<controller_action_predispatch_adminhtml_cms_page_new>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Cms</class>
                        <method>create</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </controller_action_predispatch_adminhtml_cms_page_new>
            <cms_page_load_after>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Cms</class>
                        <method>read</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </cms_page_load_after>
            <cms_page_save_after>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Cms</class>
                        <method>update</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </cms_page_save_after>
            <cms_page_delete_before>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Cms</class>
                        <method>destroy</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </cms_page_delete_before>-->
            <!--<controller_action_predispatch_adminhtml_customer_new>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Customer</class>
                        <method>create</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </controller_action_predispatch_adminhtml_customer_new>  -->
            <!--<customer_load_before>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Customer</class>
                        <method>read</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </customer_load_before> -->
            <!--<controller_action_predispatch_adminhtml_customer_save>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Customer</class>
                        <method>update</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </controller_action_predispatch_adminhtml_customer_save>
            <customer_delete_after>
                <observers>
                    <Strategery_Logger_Model_Observer>
                        <type>singleton</type>
                        <class>Strategery_Logger_Model_Observer_Customer</class>
                        <method>destroy</method>
                    </Strategery_Logger_Model_Observer>
                </observers>
            </customer_delete_after>  -->
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <bs_logger>
                    <file>bs_logger.xml</file>
                </bs_logger>
            </updates>
        </layout>
        <translate>
            <modules>
                <BS_Logger>
                    <files>
                        <default>BS_Logger.csv</default>
                    </files>
                </BS_Logger>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BS_Logger before="Mage_Adminhtml">BS_Logger_Adminhtml</BS_Logger>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
